<ion-view title="Acerca de" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div id="acercaDe-markdown1" style="color:#000000;">
            <p>App creada por</p>
        </div>
        <div style="text-align:center;">
            <img src="img/qAxINLdSwCdEw3PZF2RA_logo_pharmapp.png" width="100%" height="auto">
        </div>
        <div id="acercaDe-markdown2" style="color:#000000;">
            <p>
                <strong>version 1.0</strong>
            </p>
        </div>
        <div id="acercaDe-markdown3" style="color:#000000;">
            <p>algo mas de texto</p>
        </div>
    </ion-content>
</ion-view>