<ion-view title="Buscar" id="page5">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Busca un producto">
            </label>
        </form>
        <a ui-sref="principal.drogueriasCercanas" id="buscar-button1" class="button button-balanced button-small button-block icon ion-search">Buscar</a>
    </ion-content>
</ion-view>